.container{


    display: flex;

    align-items: center;

    margin: 100px;
}

.image img{

    height: 400px;
    width: 400px;

    object-fit: contain;
}

.desc{

    display: flex;

    flex-direction: column;


}

.title{

    display: block;

    font-size: 20px;

    font-weight: bold;

    margin: 20px;
}

.price{

    background-color: #d1411e;

    color: white;

    padding: 10px;
}